anyio @ file:///Users/runner/miniforge3/conda-bld/anyio_1634574650283/work/dist
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1635819647402/work
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1636021430152/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bcrypt==3.2.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
blessed==1.18.1
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012310340/work
cached-property==1.5.2
cement==2.8.2
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046182160/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093477312/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1626371162869/work
click==8.0.3
colorama==0.4.3
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1636040957818/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1636043372408/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
docker==4.4.4
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
filelock==3.4.0
future==0.16.0
fuzzywuzzy @ file:///home/conda/feedstock_root/build_artifacts/fuzzywuzzy_1605704184142/work
huggingface-hub==0.2.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1636431877970/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1634726430246/work/dist/ipykernel-6.4.2-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1635632558290/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1631590360471/work
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1635824203037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
jmespath==0.10.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1636165360877/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1633454794268/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1635407484999/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1635811281209/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1636048453780/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1632590716858/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1631590465624/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1635836828929/work
lightgbm==3.3.1
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833661769/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-base_1594091691585/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1635844768785/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1635436909771/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1636373223849/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1632536035327/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
networkx==2.6.3
nltk==3.6.5
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1634668519289/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1636145437548/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas==0.25.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
paramiko==2.7.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
pathspec==0.5.9
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==8.4.0
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1630471917451/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1636045889479/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
PyNaCl==1.4.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636323133880/work
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1636052947656/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862551662/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-Levenshtein @ file:///opt/concourse/worker/volumes/live/eb96afd4-dea3-4ee8-4466-890a653dfa3d/volume/python-levenshtein_1613985207470/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyYAML==6.0
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1635877502229/work
regex==2021.11.10
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
ruptures @ file:///Users/runner/miniforge3/conda-bld/ruptures_1636476083106/work
sacremoses==0.0.46
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1636784144657/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1636410765323/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
semantic-version==2.8.5
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
sentence-transformers==2.1.0
sentencepiece==0.1.96
six==1.14.0
sniffio @ file:///Users/runner/miniforge3/conda-bld/sniffio_1635844987423/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1610414574972/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
termcolor==1.1.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1636052334098/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
texttable==1.6.4
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
tokenizers==0.10.3
torch==1.10.1
torchvision==0.11.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1635819838703/work
tqdm==4.62.3
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
transformers==4.14.1
typing_extensions==4.0.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.59.0
widgetsnbextension @ file:///Users/runner/miniforge3/conda-bld/widgetsnbextension_1637174514854/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
